<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogLevel" value="Normal" />
    <add key="RefsPath" value="G:\Projects\BoundedContext\Source\BoundedContext.Composition\bin\Debug\netstandard2.0\refs" />
    <add key="LogPath" value="G:\Projects\BoundedContext\Source\BoundedContext.Composition\bin\Debug\netstandard2.0\log.txt" />
    <add key="BcDir" value="G:\Projects\BoundedContext\Source\BoundedContext.Composition\bin\Debug\netstandard2.0" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="IService1_Connected">
        <endpoint address="net.tcp://localhost:3454/Service1" binding="netTcpBinding" contract="IService1_Connected" bindingConfiguration="Transactional">
        </endpoint>
      </service>
      <service name="IService1_Disconnected">
        <endpoint address="net.msmq://localhost/private/Service1" binding="netMsmqBinding" contract="IService1_Disconnected">
        </endpoint>
      </service>
      <service name="IQuery1_Connected">
        <endpoint address="net.tcp://localhost:3455/Query1" binding="netTcpBinding" contract="IQuery1_Connected" bindingConfiguration="NonTransactional">
        </endpoint>
      </service>
      <service name="IVisitQueryService_Connected">
        <endpoint address="net.tcp://localhost:3455/VisitQuery" binding="netTcpBinding" contract="IVisitQueryService_Connected" bindingConfiguration="NonTransactional">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="Transactional" transactionFlow="true"></binding>
        <binding name="NonTransactional" transactionFlow="false"></binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>